-e . # This installs our project "newsfeed" so we can do import newsfeed in our python code
black
isort
pytest
pandas
pre-commit
requests
beautifulsoup4
lxml
pydantic==1.10.10
langchain==0.0.271
openai==0.27.9
tiktoken==0.4.0
discord.py==2.3.2
dash==2.13.0
dash-bootstrap-components==1.4.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
